<nav class="navbar navbar-expand-md bg-body-tertiary px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="#">
      <i class="bi bi-people-fill"></i> APLICACIÓN DE USUARIOS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fw-semibold">
        <li class="nav-item">
          <a class="nav-link sombreado" routerLink="/users" routerLinkActive="active" >
            <i class="bi bi-house-door-fill"></i> Inicio</a>
        </li>
        @if(admin){
          <li class="nav-item">
            <a class="nav-link sombreado" routerLink="/users/create" routerLinkActive="active">
              <i class="bi bi-person-fill-add"></i> Crear Usuario</a>
          </li>
        }
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAuth">
      <span class="nav-item nav-link text-secondary">
        @if(login.isAuth){
          {{login.user.userName}}
          <button class="btn btn-outline-secondary ms-2" (click)="handlerLogout()">Cerrar Sesión</button> 
        }@else{
          <a class="btn btn-outline-secondary" [routerLink]="['/login']">Iniciar Sesión</a>
        }
      </span>
    </div>
  </div>
</nav>