@if (login.isAuth) {
<div class="container">
  @if (!isSmartphone) {
    <p class="logo fw-semibold text-white mt-3 text-center"><i class="bi bi-people-fill "></i> SISTEMA DE USUARIOS</p>
  }
  <nav>
      <a class="link" [routerLink]="['/users/user/:username']"><i class="bi bi-person-circle"></i>{{(isSmartphone)? '' : ' Perfil'}}</a>
      <a class="link" [routerLink]="['/users']"><i class="bi bi-house-door-fill"></i>{{(isSmartphone)? '' : ' Inicio'}}</a>
      <a class="link" [routerLink]="['/posts']"><i class="bi bi-file-earmark-post"></i>{{(isSmartphone)? '' : ' Publicaciones'}}</a>
      @if (login.isAdmin) {
        <a class="link" [routerLink]="['/users/create']"><i class="bi bi-person-fill-add"></i>{{(isSmartphone)? '' : ' Crear Usuario'}}</a>
      }
    </nav>

    
  </div>
}
  