<div class="container border border-2 rounded-2 animate__animated animate__zoomIn">
        <h3 class="text-center fw-semibold my-3">{{(user.id > 0)? 'Actualizar Usuario' : 'Crear Usuario'}}</h3>
     
          <form (ngSubmit)="onSubmit(userForm)" class="my-3" #userForm="ngForm">
              <div>
                  <input
                      placeholder="Nombre"
                      name="name"
                      [(ngModel)] = "user.name"
                      class="form-control my-2"   
                      #name="ngModel"
                      required
                  >

                  @if(errors?.name){
                    <div class="text-danger">{{errors.name}}</div>
                  }

                  @if(name.invalid && (name.dirty || name.touched)){
                      @if (name.errors!['required']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El nombre es obligatorio</p>
                      }
                  } 
              </div>
              <div>
                  <input
                      placeholder="Apellido"
                      name="lastName"
                      [(ngModel)] = "user.lastName"
                      class="form-control my-2"
                      #lastName="ngModel"
                      required
                  >

                  @if(errors?.lastName){
                    <div class="text-danger">{{errors.lastName}}</div>
                  }
          
                  @if(lastName.invalid && (lastName.dirty || lastName.touched)){
                      @if (lastName.errors!['required']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El apellido es obligatorio</p>
                      }
                  } 
              </div>
              <div>
                  <input
                      placeholder="Usuario"
                      name="userName"
                      [(ngModel)] = "user.userName"
                      class="form-control my-2"
                      minlength="5"
                      #userName="ngModel"
                      required
                  >

                  @if(errors?.userName){
                    <div class="text-danger">{{errors.userName}}</div>
                  }
          
                  @if(userName.invalid && (userName.dirty || userName.touched)){
                      @if (userName.errors!['required']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El usuario es obligatorio</p>
                      }
                      @if(userName.errors!['minlength']){
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El usuario es de minimo 5 caracteres</p>
                      }
                  } 
              </div>
              <div>
                  <input
                      placeholder="Correo"
                      name="email"
                      [(ngModel)] = "user.email"
                      class="form-control my-2"
                      type="email"
                      #email="ngModel"
                      required 
                      email
                  >

                  @if(errors?.email){
                    <div class="text-danger">{{errors.email}}</div>
                  }
          
                  @if(email.invalid && (email.dirty || email.touched)){
                      @if (email.errors!['required']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El correo es obligatorio</p>
                      }
                      @if (email.errors!['email']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> El correo no tiene el formato correcto</p>
                      }
                  } 
              </div>
              @if(user.id == 0){
                <div>
                  <input
                      placeholder="Contraseña"
                      name="password"
                      type="password"
                      [(ngModel)] = "user.password"
                      class="form-control my-2"
                      minlength="5"
                      #password="ngModel"
                      required
                  > 

                  @if(errors?.password){
                    <div class="text-danger">{{errors.password}}</div>
                  }
          
                  @if(password.invalid && (password.dirty || password.touched)){
                      @if (password.errors!['required']) {
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> La contraseña es obligatoria</p>
                      }
                      @if(password.errors!['minlength']){
                        <p class="fs-6 text-danger fw-semibold"><i class="bi bi-x-circle-fill"></i> La contraseña es de minimo 5 caracteres/p>
                      }
                  } 
                </div>
              }

              <div class="form-check">
                <input name="admin" type="checkbox" class="form-check-input" [(ngModel)]="user.admin">
                <label class="form-check-label">Usuario administrador</label>
              </div>
          
              <div>
                  <button 
                  type="submit" 
                  class="btn btn-primary m-2"
                  [disabled]="userForm.invalid"
                  >
                      <i class="bi bi-person"></i>
                     {{(user.id > 0)? 'Actualizar Usuario' : 'Crear Usuario'}}
                  </button>
          
                  <button 
                  type="button" 
                  class="btn btn-secondary my-2"
                  (click)="onClear(userForm)"
                  >
                     Limpiar
                  </button>
              </div>
          </form>

</div>