<h3 class="text-center fw-semibold my-3">LISTADO DE USUARIOS</h3>

@if(users.length > 0){
<div class="border border-2 rounded-2 my-2">
  <div class="table table-hover table-dark table-striped text-center">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>USUARIO</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>CORREO</th>
        @if(admin){
          <th>EDITAR</th>
          <th>ELIMINAR</th>
        }
  
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr>
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ user.userName }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        @if(admin){
          <td><button class="btn btn-secondary btn-sm" [routerLink]="['/users/edit', user.id]">
            <i class="bi bi-pencil-square"></i></button>
          </td>
          <td><button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)">
            <i class="bi bi-trash"></i></button>
          </td>
        }
      </tr>
      }
    </tbody>
  </div>
</div>
}@else {
<div class="alert alert-light text-center"><i class="bi bi-info-circle-fill"></i> No hay usuarios en el sistema</div>
}
<paginator [paginator]="paginator" [url]="'/users/page'"></paginator>
