:root{
    --principal: #051923;
}

* {
    box-sizing: border-box;
}

.appearance{
    background-color: var(--principal);
    font-family:Arial, Helvetica, sans-serif;
}

.ocultar-en-movil {
    display: none;
}

/*POSICION DE ELEMENTOS*/

.container-fluid_authenticated {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 70px 1fr 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo"
        "navbar"
        "content"
        "footer";
}

.container-fluid_unauthenticated {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo"
        "content"
        "footer";
}

.logo{
    grid-area: logo;
    text-align: center;
}

navbar{
    grid-area: navbar;
    position: sticky;
    right: 0;
    top: 0;
    background-color: #051923;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
}

.hide-navbar{
    display: none;
}

/*--------------------------------VERSION ESCRITORIO-----------------------------------*/

@media (min-width: 768px) {

    .ocultar-en-movil {
        display: block;
    }

    .container-fluid_authenticated {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 250px auto;
        grid-template-rows: 40px 1fr 80px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo   logo"
            "navbar content"
            "navbar footer"
    }

    .container-fluid_unauthenticated {
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40px 1fr 80px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo"
            "content"
            "footer"
    }

    .logo{
        grid-area: logo;
        text-align: start;
        padding-left: 20px;
    }
    
    navbar {
        grid-area: navbar;
    }
    
    .content {
        grid-area: content;
    }
    
    footer {
        grid-area: footer;
    }
}

/*------------------------------------*/


.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.animacion {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fixed-bottom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.sombra-inferior{
    box-shadow: 0 15px 6px rgb(107,144,128, 0.1); /* Sombra inferior */
}


