<div class="appearance px-0" [ngClass]="{'container-fluid_authenticated': login.isAuth, 'container-fluid_unauthenticated': !login.isAuth}" style="background-color: #051923;">
  @if (isSmartphone) {
    <p class="logo fw-semibold text-white mt-3 text-center"><i class="bi bi-people-fill "></i> SISTEMA DE USUARIOS</p>
  }
  @if(login.isAuth){
    <navbar></navbar>
  }
  
  <div class="content d-flex justify-content-center text-white animate__animated animate__zoomIn m-3">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center m-2 border-top border-2" >
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-white animate__animated animate__backInLeft ">© 2025  Cristian Daza, Full Stack Developer</span>
      </div>
  
      <a href="https://www.linkedin.com/in/cristian-daza-1b1524247/" class="mx-2 justify-content-end"><i class="bi bi-linkedin"></i></a>
      
  </footer>
</div>