body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.button-animation {
    animation: pulse;
    animation-duration: 2s;
}

a:hover{
    color: antiquewhite;
}

.navbar-toggler{
    background-color: white;
}

.navbar-brand{
    font-size: clamp(1rem, 1.5vw, 3rem);
}
